# Database

DATABASE_URL=sqlite:///database.db

# SUPER ADMIN CONFIGURATION
SUPERUSER_NAME=<super_user_first_name> # Admin
SUPERUSER_USERNAME=<super_user_username> # admin
SUPERUSER_EMAIL=<super_user_email> # admin@email.com
SUPERUSER_PASSWORD=<super_user_password> # Admin@123

# -----------------------------------------------------------------------------
